<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        home
    </title>
</head>

<body>
    <div>
        <a href="/hoge" data-test="to-hoge">hogeに遷移</a>
    </div>
</body>

</html>